%p{style: 'text-align: center; color: #7f7f7f; margin: 8px; font-size: 16px; cursor: default;'} Недельный отчёт готов
= link_to '--> Посмотреть <--', "#{report_url @report}?Authorization=#{@subscriber.authorization}",
    style: 'display: block; text-align: center; color: #7f7f7f; font-size: 20px; margin: 8px; text-decoration: none;'
