//= require_self
//= require_tree .

body
  background-color: #ffffff
  margin: 0
  padding: 0
  height: 100%
  width: 100%
  overflow: hidden

body *
  outline: none

body.funny-mode img:hover,
body.funny-mode label:hover
  transform: none !important
  animation: rotation 0.03s linear infinite
  @-moz-keyframes rotation
    100%
      -moz-transform: rotate(360deg)
  @-webkit-keyframes rotation
    100%
      -webkit-transform: rotate(360deg)
  @keyframes rotation
    100%
      -webkit-transform: rotate(360deg)
      transform: rotate(360deg)

.centered
  left: 50%
  margin: 0
  padding: 0
  position: absolute
  top: 50%
  transform: translate(-50%, -50%)
