//= require_self
//= require_tree .

body
  background-color: #fff
  height: 100%
  margin: 0
  overflow: hidden
  padding: 0
  width: 100%

body *
  outline: none

.funny-mode img:hover,
.funny-mode label:hover
  animation: rotation .03s linear infinite
  transform: none !important
  @keyframes rotation
    100%
      transform: rotate(360deg)


.centered
  left: 50%
  margin: 0
  padding: 0
  position: absolute
  top: 50%
  transform: translate(-50%, -50%)
