[data-controller='posts'][data-action='show'].funny-mode
  img:hover, label:hover, .message:hover
    animation: rotation .03s linear infinite
    transform: none !important
    @keyframes rotation
      100%
        transform: rotate(360deg)


[data-controller='posts'][data-action='show']
  a img, [type='radio'] + label, .message
    transition: transform .2s

    &:hover
      transform: scale(1.1)

  nav
    position: fixed
    z-index: 1

    a
      display: block
      margin: 12px

    a img
      height: 42px
      opacity: .2
      transition-property: transform, opacity
      width: 42px

      &:hover
        opacity: 1

  main
    height: 100%
    overflow: hidden
    position: absolute
    width: 100%

    #post
      background: none
      min-width: 596px

      .message
        cursor: default
        display: inline-block
        font-size: 16px
        margin: 2px 0

      .cat-img
        border-radius: 8px
        display: block
        margin: 12px auto
        max-height: 800px
        max-width: 800px
        transition: transform .2s

        &:hover
          transform: scale(1.01)

      .buttons
        font-size: 0
        height: 84px
        margin: 4px
        text-align: center

        [type='radio']
          display: none
          opacity: 0

        [type='radio'] + label
          background-size: 64px 64px
          cursor: pointer
          display: inline-block
          font-size: 0
          height: 64px
          margin: 10px
          width: 64px

        [type='radio'][disabled='disabled'] + label
          cursor: default

        @for $i from 1 through 5
          [type='radio'].star-bgc-#{$i} + label
            background: url('star_#{$i}.png') no-repeat

          [type='radio'].star-bgc-#{$i}:checked + label
            background: url('star_#{$i}_filled.png') no-repeat
