$main-color: #7f7f7f
$border-color: #d8d8d8

[data-controller='reports'][data-action='show'].funny-mode
  img:hover, h1:hover, h2:hover, label:hover, p:hover, canvas:hover
    animation: rotation .013s linear infinite
    transform: none !important
    @keyframes rotation
      100%
        transform: rotate(360deg)


[data-controller='reports'][data-action='show']
  h1, h2, label, p
    transition: transform .2s

    &:hover
      transform: scale(1.04)

  label:hover
    transform: scale(1.15)

  main
    height: 100%
    position: absolute
    width: 100%
    min-width: 924px

    #report
      background: none
      width: 920px
      margin: 66px auto
      box-shadow: 0 0 12px $main-color
      border-radius: 8px
      overflow: hidden
      text-align: center

      h1
        display: inline-block
        color: $main-color
        margin: 12px

      #chart
        margin: auto
        cursor: pointer

  .sections
    font-size: 0
    margin: 12px 8px

    & > section + section
      border-left: solid 1px $border-color

    section
      text-align: center
      width: calc(20% - 1px)
      display: inline-block
      vertical-align: top
      overflow: hidden

      *
        font-size: 0
        margin: 0
        vertical-align: top
        display: inline-block


      .title
        width: 100%
        height: 36px
        margin-bottom: 8px

        *
          height: 36px
          line-height: 36px
          margin: 0

        label
          font-size: 12px
          color: $main-color
          font-weight: bold
          text-shadow: #fff 1px 0 1px, #fff -1px 0 1px, #fff 0 1px 1px, #fff 0 -1px 1px
          width: 30px
          background-image: image-url('star_3.png')
          background-repeat: no-repeat
          background-position: center
          background-size: 30px

        h2
          font-weight: bold
          font-size: 20px
          color: $main-color

      ul
        list-style-type: none
        padding: 0
        float: left

        li
          list-style: none
          text-align: left
          width: 100%
          line-height: 32px
          float: left
          white-space: nowrap
          padding: 0 4px

          *
            display: inline-block
            height: 32px
            line-height: 32px
            vertical-align: top

          label
            font-size: 10px
            color: $main-color
            font-weight: bold
            text-shadow: #fff 1px 0 1px, #fff -1px 0 1px, #fff 0 1px 1px, #fff 0 -1px 1px
            text-align: center
            float: left
            width: 22px
            background-image: image-url('star_3.png')
            background-repeat: no-repeat
            background-position: center
            background-size: 22px

          p
            color: $main-color
            font-weight: bold
            font-size: 14px
